<div class="banner-w3layouts">
  <br> <br><br><br><br><br><br><br> <br><br><br><br>
  <div id="booking" class="section">
  <div class="section-center">
      <div class="container">
          <div class="row">
              <div class="booking-form">
                  <form>
                      <div class="row no-margin">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <span class="form-label">Oraș</span>
                                  <input class="form-control" type="text" name="searchSalon" [(ngModel)]="searchSalon" autocomplete="off" placeholder="Caută salonul după oraș">                              
                                </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row no-margin">
                                  <div class="col-md-5">
                                      <div class="form-group">
                                          <span class="form-label">Numele salonului</span>
                                          <input class="form-control" type="text" name="searchCity" [(ngModel)]="searchCity" autocomplete="off" placeholder="Caută salonul după denumire">
                                      </div>
                                  </div>
                                  <div class="col-md-5" >
                                      <div class="form-group">
                                          <span class="form-label">Data</span>
                                          <input class="form-control" type="date" required>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-btn">
                                  <button class="submit-btn">Check availability</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="about" id="about">
<div class="container">
  <div class="about-top-agileits-w3layouts">
      <div class="col-md-4 about-left-w3-agileits">
          <div class="title-main-w3ls">
              <h3 class="title-w3-agile"><span>D</span>espre <span>N</span>oi</h3>
          </div>
      </div>
      <div class="col-md-8 about-right-w3-agileits">
          <h3>Fă alegerea corectă</h3>
          <p class="w3_agileits_para">Vă pferim servicii de înaltă calitate. Acestă aplicație a fost creată pentru a veni în ajutorul tău. Printre serviciile oferite se regăsesc rezarvarea anumitor saloanele preferate și tehnici de întreținere, fără a mai fi nevoie de căutări îndelungate pe internet sau apeluri nesfârșite. Navighează și vezi ce ți se potrivește</p>
      </div>
      <div class="clearfix"> </div>
  </div>
</div>
  <div class="col-md-4 about-bottoml-agileits">
  </div>
  <div class="col-md-8 about-bottomr-agileits">
      <div class="title-main-w3ls">
          <h3 class="title-w3-agile"><span>R</span>ezervă <span>S</span>erviciile <span>D</span>orite </h3>
      </div>
          <div class="form-agileits">
          <form #postForm="ngForm" (ngSubmit)="onCreateBooking(postForm.value)" method="post">
              <h6>Salon and date</h6>
                  <select class="form-control name">
                    <input class="name" type="text" id="salonName" name="salonName" placeholder="Alege servicile dorite" required ngModel
                    >
                  </select>
                  <input  id="datepicker1" name="date" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" placeholder="mm/dd/yyyy" required ngModel
                  >
              <div class="clearfix"> </div>
              <h6>Informații personale</h6>
                  <input class="name" type="text" id="clientName" name="clientName" placeholder="Nume" required ngModel
                  >
                  <!-- <input type="text" name="Last Name" placeholder="Last Name" required=""> -->
                  <input class="name" type="email" id="email" name="email" placeholder="Email" required ngModel
                  >
                  <input type="text" name="phone" id="phone" placeholder="Telefon" required ngModel
                  >
                  <div class="clearfix"> </div>
                  <div class="wthree-text"> 
                      <div class="clearfix"> </div>
                  </div>
                  <input type="submit" value="Trimite">
          </form>
        </div>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="news" id="news" >
    <div class="container">
    <div class="title-main-w3ls my-3">
        <h3 class="title-w3-agile"><span>D</span>escoperă <span>S</span>aloanele</h3>
    </div>
    <div class="classes_wrapper" >
      <app-salon-item
      *ngFor="let post of posts | search: searchSalon| searchh: searchCity; let i = index"
      [post] = "post"
      [index] = "i"></app-salon-item>
   </div>
  </div>
  </div>
<div id="gallery" class="gallery">  
  <div class="container">
      <div class="title-main-w3ls">
          <h3 class="title-w3-agile"><span>T</span>ratamente și <span>S</span>ervicii</h3>
      </div>
  </div>
  <div class="agileinfo-gallery-row">
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g1.jpg" class="imghvr-hinge-right figure">
              <img src="g1.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                  <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div> 
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g2.jpg" class="imghvr-hinge-right figure">
              <img src="g2.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                 <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g3.jpg" class="imghvr-hinge-right figure">
              <img src="g3.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                 <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g4.jpg" class="imghvr-hinge-right figure">
              <img src="g4.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                 <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g5.jpg" class="imghvr-hinge-right figure">
              <img src="g5.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                 <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div> 
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g6.jpg" class="imghvr-hinge-right figure">
              <img src="g6.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g7.jpg" class="imghvr-hinge-right figure">
              <img src="g7.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                  <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
          <a href="g8.jpg" class="imghvr-hinge-right figure">
              <img src="g8.jpg" alt="" title="Spa Sublime Image"/> 
              <div class="agile-figcaption">
              <h4>Spa Sublime</h4>
                 <p>Wide variety of wellness treatments</p>
              </div>
          </a> 
      </div>
      <div class="clearfix"> </div>
  </div> 
</div>
<div class="testimonials">
  <div class="container">
  <div class="title-main-w3ls">
          <h3 class="title-w3-agile"><span>C</span>lienții <span>S</span>pun</h3>
      </div>
      <div class="w3_agileits_testimonial_grids">
          <section class="slider">
              <div class="flexslider">
                  <ul class="slides">
                      <li>
                          <div class="w3_agileits_testimonial_grid">
                              <div class="test-bg-w3ls">
                                  <h4>Ema Wayans <span>Lorem Ipsum</span></h4>
                                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                  dolore eu fugiat nulla pariatur.</p>
                              </div>
                              <img src="t1.jpg" alt=" " class="img-responsive" />
                              
                          </div>
                      </li>
                      <li>
                          <div class="w3_agileits_testimonial_grid">
                              <div class="test-bg-w3ls">
                                  <h4>Mark Rosy <span>Lorem Ipsum</span></h4>
                                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                  dolore eu fugiat nulla pariatur.</p>
                              </div>
                              <img src="t2.jpg" alt=" " class="img-responsive" />
                          </div>
                      </li>
                      <li>
                          <div class="w3_agileits_testimonial_grid">
                              <div class="test-bg-w3ls">
                                  <h4>Mario Andretti <span>Lorem Ipsum</span></h4>
                                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                  dolore eu fugiat nulla pariatur.</p>
                              </div>
                              <img src="t3.jpg" alt=" " class="img-responsive" />
                              
                          </div>
                      </li>
                  </ul>
              </div>
          </section>
      </div>
  </div>
</div>
<div id="contact" class="contact">
  <div class="container">
      <div class="title-main-w3ls">
          <h3 class="title-w3-agile"><span>C</span>ontactează-ne</h3>
      </div>
      <div class="contact-info">
          <ul>
              <li><i class="material-icons" aria-hidden="true">
                  <span class="material-icons">home</span> </i>
                  <h5>Adresa<span>Brașov 4, 500974, România</span></h5>
              </li>
              <li><i aria-hidden="true">
                  <span class="material-icons">phone</span></i>
                   <h5>Sună<span>+1 (100)222-0-33</span></h5>
              </li>
              <li><i aria-hidden="true">
                  <span class="material-icons">email</span></i>
                  <h5>Trimite<span><a >thesalon@gmail.com</a></span></h5>
              </li>
          </ul>
      </div>
      <div class="contact-w3ls-row">
          <form  (ngSubmit)="onCreateComment(post.value)" method="post">
              <div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
                  <textarea name="message" placeholder="Mesaj" required=""></textarea>
              </div>
              <div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
                  <input type="text" name="firstname" placeholder="Nume" required="">
                  <input class="email" name="lastname" type="text" placeholder="Prenume" required="">
                  <input type="text" name="phone" placeholder="Telefon" required="">
                  <input class="email" name="email" type="Email" placeholder="email" required="">
                  <input type="submit" value="SUBMIT">
              </div> 
              <div class="clearfix"> </div> 
          </form>
      </div>  
  </div>
</div>
<div class="map-w3-agile">
<iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=45.6523093, 25.6102746&amp;q=Brasov%2C%20city%2C%20Bra%C8%99ov%2C%20Romania+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed"></iframe>
</div>