<mat-nav-list style="background-image: url(https://i.pinimg.com/736x/57/cd/d2/57cdd21490efb4e725700c1d30b1e8eb--spa-reception-area-reception-desks.jpg?b=t);">
    <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://tse3.mm.bing.net/th?id=OIP.HCqEoTePa_etArC8-ORF9AHaHa&pid=Api&P=0&w=300&h=300" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/map">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/salons">Salons</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/booking">Salons</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>