<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="black">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/s.jpg');"></div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image"><a href="#"><img src="https://tse3.mm.bing.net/th?id=OIP.HCqEoTePa_etArC8-ORF9AHaHa&pid=Api&P=0&w=300&h=300" alt="Image"/></a></div>
            <div class="h2 title">Anthony Barnett</div>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Booking</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="title-main-w3ls">
                <h3 class="title-w3-agile"><span>My</span>booking</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Salon name</th>
                    <th>Starts at</th>
                    <th>Time</th>
                    <th>Service</th>
                    <th>City</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let salon of loadedSalon">
                    <td>
                      {{salon.place}}
                    </td>
                    <td>
                      {{salon.start | date}}
                    </td>
                    <td>
                      {{salon.time}}
                    </td>  
                    <td>
                      {{salon.service}}
                    </td>
                    <td>
                      {{salon.city}}
                    </td>   
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="title-main-w3ls">
                <h3 class="title-w3-agile"><span>B</span>asic<span>I</span>nformation</h3>
            </div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                <div class="col-sm-8">24</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                <div class="col-sm-8">anthony@yahoo.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                <div class="col-sm-8">+1718-111-0011</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                <div class="col-sm-8">Brasov</div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    </div>