<div class="container">
    <div class="row">
        <!-- <div class="col-md-8"> -->
        <div class="card mb-4" >
        <img class="card-img-top" [src]="post.imagePath" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{post.name}}</h2>
          <p class="card-text">{{post.description}}</p>
          <a class="btn btn-primary" (click)="onEditPost()">Edit</a>|
          <a class="btn btn-primary" (click)="onDeletePost()">Delete</a>
        </div>
        </div>
      <!-- </div> -->
    </div>
</div>

<div class="row"  >
    <div class="col-md-5 ">
      <div class="card h-100">
        <img class="card-img-top" src="hr.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Hair</h4>
          <table>
            <tr>
              <th>Services</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>{{post.serviciul01}}</td>
              <td>{{post.pret1}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul02}}</td>
              <td>{{post.pret2}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul03}}</td>
              <td>{{post.pret3}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul04}}</td>
              <td>{{post.pret4}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul05}}</td>
              <td>{{post.pret5}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul06}}</td>
              <td>{{post.pret6}}$</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card h-100">
        <img class="card-img-top" src="na.jpg" alt="">
        <div class="card-body"><br>
          <h4 class="card-title">Nail</h4>
          <table>
              <tr>
                <th>Services</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>{{post.serviciul1}}</td>
                <td>{{post.pret1}}$</td>
              </tr>
              <tr>
                <td>{{post.serviciul2}}</td>
                <td>{{post.pret2}}$</td>
              </tr>
              <tr>
                <td>{{post.serviciul3}}</td>
                <td>{{post.pret3}}$</td>
              </tr>
              <tr>
                <td>{{post.serviciul4}}</td>
                <td>{{post.pret4}}$</td>
              </tr>
              <tr>
                <td>{{post.serviciul5}}</td>
                <td>{{post.pret5}}$</td>
              </tr>
              <tr>
                <td>{{post.serviciul6}}</td>
                <td>{{post.pret6}}$</td>
              </tr>
            </table>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card h-100">
        <img class="card-img-top" src="byy.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Make up</h4>
          <table>
            <tr>
              <th>Services</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>{{post.serviciul11}}</td>
              <td>{{post.pret1}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul22}}</td>
              <td>{{post.pret2}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul33}}</td>
              <td>{{post.pret3}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul44}}</td>
              <td>{{post.pret4}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul55}}</td>
              <td>{{post.pret5}}$</td>
            </tr>
            <tr>
              <td>{{post.serviciul66}}</td>
              <td>{{post.pret6}}$</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
 
 