<div class="container">
    <div class="row">
        <!-- <div class="col-md-8"> -->
        <div class="card mb-4" >
        <img class="card-img-top" [src]="post.imagePath" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{post.name}}</h2>
          <p class="card-text">{{post.description}}</p>
          <a class="btn btn-primary" (click)="onEditPost()">Edit</a>|
          <a class="btn btn-primary" (click)="onDeletePost()">Delete</a>
        </div>
        </div>
      <!-- </div> -->
    </div>
</div>

<div class="row"  >
    <div class="col-md-5 ">
      <div class="card h-100">
        <img class="card-img-top" src="assets/images/hr.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Hair</h4>
          <table>
              <tr>
                <th>Services</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>20$</td>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>15$</td>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>30$</td>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>25$</td>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>28$</td>
              </tr>
              <tr>
                <td>{{post.services}}</td>
                <td>19$</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/images/na.jpg" alt="">
        <div class="card-body"><br>
          <h4 class="card-title">Nail</h4>
          <table>
              <tr>
                <th>Services</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>20$</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>15$</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>30$</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>25$</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>28$</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>19$</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/images/byy.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Make up</h4>
          <table>
              <tr>
                <th>Services</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>20$</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>15$</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>30$</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>25$</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>28$</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>19$</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
 