 <!-- Header -->
<!-- about -->
<!-- <div class="banner-w3layouts">
    <br> <br><br><br><br><br><br><br> <br><br><br><br>
    <div id="booking" class="section">
        <div class="container" style="background-color: rgba(253, 253, 253, 0.63)">
        <div class="row">
            <div class="col-md-8 mb-5"><br>
                <div class="title-main-w3ls">
                    <h3 class="title-w3-agile"><span>A</span>bout<span>U</span>s</h3>
                </div>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
              <a href="#" class="find-about" data-toggle="modal" data-target="#myModal4">Find out more</a>
            </div>
            <div class="col-md-4 mb-5"><br>
                <div class="title-main-w3ls">
                    <h3 class="title-w3-agile"><span>C</span>ontact<span>U</span>s</h3>
                </div>
              <hr>
              <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
              </address>
              <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
              </address>
            </div>
          </div> -->
          <!-- /.row -->
    <!-- </div>
    </div>
</div> -->

  <!-- Page Content -->
  <!-- <div class="container">

<br><br>   


<div id="gallery" class="gallery">  
    <div class="container">
        <div class="title-main-w3ls">
            <h3 class="title-w3-agile"><span>T</span>reatments & <span>S</span>ervices</h3>
        </div>
    </div>
    <div class="agileinfo-gallery-row">
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g1.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g1.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                    <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g6.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g6.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                  <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g7.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g7.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                    <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g8.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g8.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="clearfix"> </div>
        
    </div> 
</div>



    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/images/hr.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Hair</h4>
            <table>
                <tr>
                  <th>Services</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>20$</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>15$</td>
                </tr>
                <tr>
                  <td>Ernst Handel</td>
                  <td>30$</td>
                </tr>
                <tr>
                  <td>Island Trading</td>
                  <td>25$</td>
                </tr>
                <tr>
                  <td>Laughing Bacchus Winecellars</td>
                  <td>28$</td>
                </tr>
                <tr>
                  <td>Magazzini Alimentari Riuniti</td>
                  <td>19$</td>
                </tr>
              </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/images/na.jpg" alt="">
          <div class="card-body"><br>
            <h4 class="card-title">Nail</h4>
            <table>
                <tr>
                  <th>Services</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>20$</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>15$</td>
                </tr>
                <tr>
                  <td>Ernst Handel</td>
                  <td>30$</td>
                </tr>
                <tr>
                  <td>Island Trading</td>
                  <td>25$</td>
                </tr>
                <tr>
                  <td>Laughing Bacchus Winecellars</td>
                  <td>28$</td>
                </tr>
                <tr>
                  <td>Magazzini Alimentari Riuniti</td>
                  <td>19$</td>
                </tr>
              </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/images/byy.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Make up</h4>
            <table>
                <tr>
                  <th>Services</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>20$</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>15$</td>
                </tr>
                <tr>
                  <td>Ernst Handel</td>
                  <td>30$</td>
                </tr>
                <tr>
                  <td>Island Trading</td>
                  <td>25$</td>
                </tr>
                <tr>
                  <td>Laughing Bacchus Winecellars</td>
                  <td>28$</td>
                </tr>
                <tr>
                  <td>Magazzini Alimentari Riuniti</td>
                  <td>19$</td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div> -->
    <!-- /.row -->

  <!-- </div>
  <div class="map-w3-agile">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2700.008530322881!2d8.621557715686505!3d47.41177477917224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479075250b1e228f%3A0xa9f347199c63a87!2sSpandex+AG!5e0!3m2!1sen!2sin!4v1495014952061"></iframe>
    </div> -->
  <!-- /.container -->


  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  
  <h3>
    Edit events
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive" >
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input
              type="text"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
            <button class="btn btn-danger" (click)="saveEvent()">
              Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
  