<nav class="navbar navbar-default banner" *ngIf='!isAdmin '>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <img class="logo" src="Salon.png" alt="">
        <ul class="nav navbar-nav navbar-right navbar-nav-primary" *ngIf='!isAdmin '>
            <li class="menu__item"><a routerLink="/salon" class="menu__link scroll" ><span class="menu__helper">Home</span></a></li>
            <li class="menu__item" *ngIf='isAuthenticated || isAdmin' ><a routerLink="/profile" class="menu__link scroll" ><span class="menu__helper">Profile</span></a></li>
            <li class="menu__item" routerLinkActive="active"  *ngIf='!isAuthenticated '>
                <a routerLink="/auth" class="menu__link scroll">Authenticate</a>
              </li>
            <li class="menu__item" routerLinkActive="active"  *ngIf=' !isAdmin || !isAuthenticated'>
                <a routerLink="/admin" class="menu__link scroll">Admin</a>
            </li>
            <li class="menu__item"  *ngIf='isAuthenticated || isAdmin'><a class="menu__link scroll" (click)= "onLogout()"><span class="menu__helper">Logout</span></a></li>
        </ul>
      </div>
    </div>
  </nav>