<!-- Gallery -->
<div id="gallery" class="gallery">  
    <div class="container">
        <div class="title-main-w3ls">
            <h3 class="title-w3-agile"><span>T</span>reatments & <span>S</span>ervices</h3>
        </div>
    </div>
    <div class="agileinfo-gallery-row">
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g1.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g1.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                    <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g2.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g2.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g3.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g3.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g4.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g4.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g5.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g5.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g6.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g6.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                  <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g7.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g7.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                    <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
            <a href="assets/images/g8.jpg" class="imghvr-hinge-right figure">
                <img src="assets/images/g8.jpg" alt="" title="Spa Sublime Image"/> 
                <div class="agile-figcaption">
                <h4>Spa Sublime</h4>
                   <p>Wide variety of wellness treatments</p>
                </div>
            </a> 
        </div>
        <div class="clearfix"> </div>
        
    </div> 
</div>
<!-- //Gallery -->
<!-- testimonials -->
<div class="testimonials">
    <div class="container">
    <div class="title-main-w3ls">
            <h3 class="title-w3-agile"><span>C</span>ustomers <span>S</span>ays</h3>
        </div>
        <div class="w3_agileits_testimonial_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3_agileits_testimonial_grid">
                                <div class="test-bg-w3ls">
                                    <h4>Ema Wayans <span>Lorem Ipsum</span></h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                    dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <img src="assets/images/t1.jpg" alt=" " class="img-responsive" />
                                
                            </div>
                        </li>
                        <li>
                            <div class="w3_agileits_testimonial_grid">
                                <div class="test-bg-w3ls">
                                    <h4>Mark Rosy <span>Lorem Ipsum</span></h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                    dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <img src="assets/images/t2.jpg" alt=" " class="img-responsive" />
                            </div>
                        </li>
                        <li>
                            <div class="w3_agileits_testimonial_grid">
                                <div class="test-bg-w3ls">
                                    <h4>Mario Andretti <span>Lorem Ipsum</span></h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                    dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <img src="assets/images/t3.jpg" alt=" " class="img-responsive" />
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //testimonials -->
<!-- contact -->
<div id="contact" class="contact">
    <div class="container">
        <div class="title-main-w3ls">
            <h3 class="title-w3-agile"><span>C</span>ontact <span>U</span>s</h3>
        </div>
        <div class="contact-info">
            <ul>
                <li><i class="fa fa-location-arrow" aria-hidden="true"></i><h5>Address<span>Aegertweg 4, 8305, Switzerland</span></h5></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i><h5>Call Us<span>+1 (100)222-0-33</span></h5></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><h5>Mail Us<span><a href="mailto:info@example.com">info@example.com</a></span></h5></li>
            </ul>
        </div>
        <div class="contact-w3ls-row">
            <form action="#" method="post">
                <div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
                    <textarea name="Message" placeholder="Message" required=""></textarea>
                </div>
                <div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
                    <input type="text" name="First Name" placeholder="First Name" required="">
                    <input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
                    <input type="text" name="Number" placeholder="Mobile Number" required="">
                    <input class="email" name="Email" type="email" placeholder="Email" required="">
                    <input type="submit" value="SUBMIT">
                </div> 
                <div class="clearfix"> </div> 
            </form>
        </div>  
    </div>
</div>
<!-- //contact -->
<!-- Map -->
<div class="map-w3-agile">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2700.008530322881!2d8.621557715686505!3d47.41177477917224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479075250b1e228f%3A0xa9f347199c63a87!2sSpandex+AG!5e0!3m2!1sen!2sin!4v1495014952061"></iframe>
</div>