<div class="news" id="news">
    <div class="container">
    <div class="title-main-w3ls">
        <h3 class="title-w3-agile"><span>L</span>atest <span>N</span>ews</h3>
    </div>
    <div class="classes_wrapper">
     <div class="row class_box">
       <div class="col-md-6 classes-grid-w3ls">
        <div class="class_right">
            <h3><a href="#" data-toggle="modal" data-target="#myModal1">Consectetur<br><span>Lorem Ipsum</span></a></h3>
            <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
            <a href="#" class="find-about" data-toggle="modal" data-target="#myModal1">Find out more</a>
        </div>
        <div class="class_left img1">
            <ul>
                <li>25</li>
                <li>Sep</li>
                <li>2017</li>
            </ul>
        </div>
        <div class="clearfix"></div>
            </div>	
       <div class="col-md-6 classes-grid-w3ls">
        <div class="class_right">
            <h3><a href="#" data-toggle="modal" data-target="#myModal4">quis sapien<br><span>Lorem Ipsum</span></a></h3>
            <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
            <a href="#" class="find-about" data-toggle="modal" data-target="#myModal4">Find out more</a>
          </div>
          
        <div class="class_left img2">
            <ul>
                <li>11</li>
                <li>Sep</li>
                <li>2017</li>
            </ul>
        </div>
        </div>
      <div class="clearfix"></div>	
     </div>	
     <div class="classes_wrapper">
        <div class="row class_box">
          <div class="col-md-6 classes-grid-w3ls">
           <div class="class_right">
               <h3><a href="#" data-toggle="modal" data-target="#myModal1">Consectetur<br><span>Lorem Ipsum</span></a></h3>
               <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
               <a href="#" class="find-about" data-toggle="modal" data-target="#myModal1">Find out more</a>
           </div>
           <div class="class_left img1">
               <ul>
                   <li>25</li>
                   <li>Sep</li>
                   <li>2017</li>
               </ul>
           </div>
           <div class="clearfix"></div>
               </div>	
          <div class="col-md-6 classes-grid-w3ls">
           <div class="class_right">
               <h3><a href="#" data-toggle="modal" data-target="#myModal4">quis sapien<br><span>Lorem Ipsum</span></a></h3>
               <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
               <a href="#" class="find-about" data-toggle="modal" data-target="#myModal4">Find out more</a>
             </div>
             
           <div class="class_left img2">
               <ul>
                   <li>11</li>
                   <li>Sep</li>
                   <li>2017</li>
               </ul>
           </div>
           </div>
         <div class="clearfix"></div>	
        </div>	
     <div class="row class_box">
        <div class="col-md-6 classes-grid-w3ls">
        <div class="class_right">
            <h3><a href="#" data-toggle="modal" data-target="#myModal5">vitae nisi<br><span>Lorem Ipsum</span></a></h3>
            <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
            <a href="#" class="find-about" data-toggle="modal" data-target="#myModal5">Find out more</a>
        </div>
        <div class="class_left img3">
            <ul>
                <li>25</li>
                <li>Aug</li>
                <li>2017</li>
            </ul>
        </div>
        <div class="clearfix"></div>
      </div>	
       <div class="col-md-6 classes-grid-w3ls client-last-agileits">
        <div class="class_right">
            <h3><a href="#" data-toggle="modal" data-target="#myModal6">Aliquam in<br><span>Lorem Ipsum</span></a></h3>
            <p class="w3_agileits_para">Aliquam in dolor eu ipsum elementum auctor vitae eget felis.</p>
            <a href="#" class="find-about" data-toggle="modal" data-target="#myModal6">Find out more</a>
         </div>
        <div class="class_left img4">
            <ul>
                <li>02</li>
                <li>Jul</li>
                <li>2017</li>
            </ul>
        </div>
        </div>
       <div class="clearfix"></div>
     </div>	
    <div class="clearfix-fix"></div> 	   		
   </div>
</div>
</div>