
<!-- about -->
<div class="about" id="about">
<div class="container">
    <div class="about-top-agileits-w3layouts">
        <div class="col-md-4 about-left-w3-agileits">
            <div class="title-main-w3ls">
                <h3 class="title-w3-agile"><span>A</span>bout <span>U</span>s</h3>
            </div>
        </div>
        <div class="col-md-8 about-right-w3-agileits">
            <h3>We offer a wide selection of spa services</h3>
            <p class="w3_agileits_para">Suspendisse ornare sed purus a imperdiet. Integer viverra nisi orci, in volutpat leo ornare vitae. Nulla faucibus, arcu at consequat vulputate, turpis metus blandit urna.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
    <div class="col-md-4 about-bottoml-agileits">
    </div>
    <div class="col-md-8 about-bottomr-agileits">
        <div class="title-main-w3ls">
            <h3 class="title-w3-agile"><span>M</span>ake <span>A</span>n <span>A</span>ppointment <span>N</span>ow</h3>
        </div>
            <div class="form-agileits">
            <form action="#" method="post">
                <h6>Service and date</h6>
                    <select class="form-control name">
                        <option>Please Select Your Service</option>
                        <option>Oil Massage ($59.00)</option>
                        <option>Relax Day ($199.00)</option>
                        <option>Spa & Beauty ($299.00)</option>
                        <option>Relax Day (for two $399.00)</option>
                    </select>
                    <input  id="datepicker1" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" placeholder="mm/dd/yyyy" required="">
                <div class="clearfix"> </div>
                <h6>Personal information</h6>
                    <input class="name" type="text" name="First Name" placeholder="First Name" required="">
                    <input type="text" name="Last Name" placeholder="Last Name" required="">
                    <input class="name" type="email" name="Email" placeholder="Email" required="">
                    <input type="text" name="Phone" placeholder="Phone" required="">
                    <div class="clearfix"> </div>
                    <div class="wthree-text"> 
                        <ul> 
                            <li>
                                <label class="anim">
                                    <input type="checkbox" class="checkbox">
                                    <span> Please send me latest news & updates</span> 
                                </label> 
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" value="Submit">
            </form>
            </div>
            <img src="assets/images/about.png" alt=" " class="img-responsive" />
    </div>
    <div class="clearfix"> </div>

</div>
<!-- //about -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
    <div class="title-main-w3ls">
        <h3 class="title-w3-agile"><span>I</span>ncredible <span>S</span>ervices</h3>
    </div>
        <div class="w3ls_banner_bottom_grids">
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>01</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>1.Supreme Teamwork</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>02</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>2.Massage Rituals</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>03</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>3.Body Treatments</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>04</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>4.Oil Massage</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>05</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>5.Aroma Therapy</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            <div class="col-md-3 agile_offer_grid">
                <div class="agileits_w3layouts_offer_grid">
                    <div class="agile_offer_grid_pos">
                        <p>06</p>
                    </div>
                </div>
                <div class="wthree_offer_grid1">
                    <h4>6.Other services</h4>
                    <p class="w3_agileits_service_para">Praesent nec blandit lorem.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        
    </div>
</div>
<!-- //services -->
<!-- team -->
<app-login></app-login>
<!-- //team -->
<!--News-->
<app-salon-list></app-salon-list>

<!--//News-->
<!-- Modal1 -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Spa Sublime</h4>
                                    <img src="assets/images/modal1.jpg" alt=" " class="img-responsive">
                                    <h5>Quis nostrum exercitationem</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- //Modal1 -->
<!-- Modal4 -->
                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Spa Sublime</h4>
                                    <img src="assets/images/modal2.jpg" alt=" " class="img-responsive">
                                    <h5>Quis nostrum exercitationem</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- //Modal4 -->
<!-- Modal5 -->
                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Spa Sublime</h4>
                                    <img src="assets/images/modal3.jpg" alt=" " class="img-responsive">
                                    <h5>Quis nostrum exercitationem</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- //Modal5 -->
<!-- Modal6 -->
                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Spa Sublime</h4>
                                    <img src="assets/images/modal4.jpg" alt=" " class="img-responsive">
                                    <h5>Quis nostrum exercitationem</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- //Modal6 -->
<!-- Modal7 -->
                    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Spa Sublime</h4>
                                    <img src="assets/images/bann.jpg" alt=" " class="img-responsive">
                                    <h5>Dedicated to inspiring Life in Balance.</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- //Modal7 -->
<!-- Gallery -->
<app-salon-item></app-salon-item>
<!-- //Map -->
<!-- footer -->
<div class="footer">
<div class="container">
    <div class="agileinfo_footer_bottom">
            <div class="col-md-6 agileinfo_footer_bottom_grid">
                <h6>Links</h6>
                    <ul class="tag2 tag_agileinfo">
                        <li><a href="index.html" class="scroll">Home</a></li>
                        <li><a href="#about" class="scroll">About</a></li>
                        <li><a href="#services" class="scroll">Services</a></li>
                        <li><a href="#team" class="scroll">Team</a></li>
                        <li><a href="#news" class="scroll">News</a></li>
                        <li><a href="#contact" class="scroll">Contact</a></li>
                    </ul>
            </div>
            <div class="col-md-6 agileinfo_footer_bottom_grid">
                <h6>Follow Us</h6>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                    <li><a href="#" class="facebook">
                          <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                          <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                    <li><a href="#" class="twitter"> 
                          <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                          <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                    <li><a href="#" class="instagram">
                          <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                          <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                    <li><a href="#" class="pinterest">
                          <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                          <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
    </div>
    <div class="agileinfo_footer_bottom1">
            <h2><a href="index.html"><span class="logo-left-w3ls">S</span><span class="logo-right-w3l">pa<br>ublime</span></a></h2>
            <p>© 2017 Spa Sublime. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- //footer -->